body{
    background-color: #f1f1f1;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.spanOpacityHalf{
    opacity: 0.5;
}

.spanCircle{
    height: 1.5em;
    width: 1.5em;
    line-height: 1.5em;
    border-radius: 50%;
    background: black;
    color: white;
    text-align: center;
    display: inline-block;
}

.commentBlog{
    outline: none;
    resize: none;
}

input{
    outline: none;
}

.blogImg{
    width: 300px;
    height: 200px;
}

.btn{
    background-color: green;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.btn1{
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px gray;
}

.btn1:hover{
    background-color:#f1f1f1;
}