.blogMessages{
    width: 50%;
    height: 160px;
    padding: 1rem 2rem;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 20px;
    margin: 16px;
    background-color: #f8f8f8;
}

.commentMessage{
    width: 25%;
    height: 160px;
    padding: 1rem 2rem;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 20px;
    margin: 16px;
    background-color: #f8f8f8;
}

.txtNewComment{
    width: 25%;
    height: 10em;
    padding: 1em 2em;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 20px;
    margin: 1em;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    outline: none;
}

.spanOpacityHalf{
    opacity: 0.5;
}

.spanCircle{
    height: 1.5em;
    width: 1.5em;
    line-height: 1.5em;
    border-radius: 50%;
    background: black;
    color: white;
    text-align: center;
    display: inline-block;
}

.button{
    background-color: green;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button1{
    background-color: white;
    color: black;
    border: 2px solid black;
}

.button1:hover{
    background-color:lightgray;
}